config AUX
    bool
    select I2C

config UNIMP
    bool

config LED
    bool

config APPLE_SPMI_PMU
    bool
    depends on APPLE_SOC
    depends on SPMI

config APPLE_SPMI_BASEBAND
    bool
    depends on APPLE_SOC
    depends on SPMI
