# devices Kconfig
source audio/Kconfig
source block/Kconfig
source char/Kconfig
source core/Kconfig
source display/Kconfig
source dma/Kconfig
source gpio/Kconfig
source i2c/Kconfig
source input/Kconfig
source intc/Kconfig
source misc/Kconfig
source net/Kconfig
source nvme/Kconfig
source nvram/Kconfig
source pci-bridge/Kconfig
source pci-host/Kconfig
source pci/Kconfig
source rtc/Kconfig
source sd/Kconfig
source sensor/Kconfig
source spmi/Kconfig
source ssi/Kconfig
source timer/Kconfig
source usb/Kconfig
source watchdog/Kconfig

# arch Kconfig
source arm/Kconfig
source cpu/Kconfig

# Symbols used by multiple targets
config TEST_DEVICES
    bool
