config PCI_BRIDGE
    bool
    default y if PCI_DEVICES
    depends on PCI

config PCIE_PORT
    bool
    default y if PCI_DEVICES
    depends on PCI_EXPRESS

config PCIE_PCI_BRIDGE
    bool
    default y if PCIE_PORT
    depends on PCIE_PORT
