config APPLE_DART
    bool
    depends on APPLE_SOC

config APPLE_SART
    bool
    depends on APPLE_SOC

config APPLE_SOC
    bool
    default y
    depends on TCG && ARM && AARCH64
    select AT24C
    select I2C
    select PCI
    select PCI_BRIDGE
    select PCI_DEVICES
    select PCI_EXPRESS
    select PCIE_PORT
    select PCIE_PCI_BRIDGE
    select EXYNOS4210_UART
    select OR_IRQ
    select UNIMP
    select APPLE_ANS
    select APPLE_NVME_MMU
    select APPLE_I2C
    select APPLE_OTG
    select APPLE_TYPEC
    select APPLE_NVRAM
    select APPLE_SIO
    select APPLE_SPMI
    select APPLE_SPMI_PMU
    select APPLE_SPMI_BASEBAND
    select APPLE_DART
    select APPLE_SART
    select APPLE_SPI
    select APPLE_UART
    select FRAMEBUFFER # adp-v2/adp-v4
    select CPU_CLUSTER # A13
